<h1>Boards#show</h1>
<p>Find me in app/views/boards/show.html.erb</p>
<!--<%=params%>-->
<a href='/boards/new'>글쓰기</a>
<br><br>
<% @post.each do |post| %>
제목 : <%=post.title%><br>
내용 : <%=post.content%><br>
<a href='/boards/read/<%=post.id%>'>[보기]</a>
<a href='/boards/edit/<%=post.id%>'>[수정]</a>
<a href='/boards/destroy/<%=post.id%>'>[삭제]</a><br>
-----------------------------<br>
<% end %>