<!--<h1>Boards#show</h1>-->
<!--<p>Find me in app/views/boards/show.html.erb</p>-->
<!--<%=params%>-->
<h1>회원게시판</h1>
<h4><a href='/boards/new'>글쓰기</a></h4>
--------------------------------------------------------------------------------------------------
<br>
<% @post.each do |post| %>
<h4>제목 : <%=post.title%><br></h4>
<h4>내용 : <%=post.content%><br></h4>
<a href='/boards/read/<%=post.id%>'>[보기]</a>
<a href='/boards/edit/<%=post.id%>'>[수정]</a>
<a href='/boards/destroy/<%=post.id%>'>[삭제]</a><br>
--------------------------------------------------------------------------------------------------<br>
<% end %>